.button{
    display: flex;
    justify-content: center;
    margin: 2vh 0;
}
.button button{
    background-color: #2c64e6; /* Green */
    font-size: 1em;
    color: #ffffff;
    padding: 1vh 1vw;
    border-radius: 8px;
    border: none;
  }
.card-container{
    width: 18.5vw;
    border: 1px solid black;
    margin: 2vh 0;
    background-color: white;
    border-radius: 10px;
    border-bottom-left-radius: 10px;
}
.card-container:hover{
    box-shadow: 0.5em 0 0.5em rgba(255, 255, 255, 0.5), -0.5em 0 0.5em rgba(255, 255, 255, 0.5);
}
.navigation{
    display: flex;
    justify-content: flex-end;
}
.close{
    margin: 0 0.5vw;
    margin-bottom: -2.5vh;;
    padding: 0.5vh 0.5vw;
    color: rgb(0, 132, 255);
    font-size: 2.3vh;
}
.cover{
    display: flex;
    flex-direction: column;
    background-color: white;
    
}
.cover h3{
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    margin-left: 0.3vw;
    margin-right: 0.3vw;
    display: flex;
    justify-content: center;
    text-align: center;
}
.cover img{
    width: 80%;
    align-self: center;
    margin-bottom: 1.5vh;
    border: 1px solid black;
}
.infoCard{
    margin: 0 1vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: 'Roboto', sans-serif;
  
}
.more{
    align-self: flex-end;
    margin: 2vh 2vw 2vh 0;
    text-decoration: none;
    color: rgb(0, 132, 255);
}
.more:hover{
    text-decoration: underline;
    cursor: pointer;
}
.description{
    margin: 0 0.5vw;
}
.show{
    display:block;
}
.hide{
    display: none;
}