.button{
    display: flex;
    justify-content: center;
    margin: 2vh 0;
}
.button button{
    background-color: #2c64e6;
    font-size: 1em;
    color: #ffffff;
    padding: 1vh 1vw;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.cards-vertical{
    width: 23.5vw;
    border: 1px solid black;
    margin: 2vh 0;
    background-color: white;
    border-radius: 10px;
}
.cards-vertical:hover{
    box-shadow: 0.5em 0 0.5em rgba(255, 255, 255, 0.5), -0.5em 0 0.5em rgba(255, 255, 255, 0.5);
}
.navigation{
    display: flex;
    justify-content: flex-end;
}
.close{
    margin: 0 0.5vw;
    margin-bottom: -2.5vh;;
    padding: 0.5vh 0.5vw;
    color: rgb(0, 132, 255);
    font-size: 2.3vh;
    height: 6vh;
}
.close:hover{
    text-decoration: underline;
    cursor: pointer;
}
.cover-vertical{
    display: flex;
    flex-direction: column;
    background-color: white;
}
.cover-vertical h3{
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    margin-left: 0.3vw;
    margin-right: 0.3vw;
    display: flex;
    justify-content: center;
    text-align: center;
}
.cover-vertical img{
    width: 80%;
    margin-bottom: 1.5vh;
    border: 1px solid black;
}
.cards-horizontal{
    width: 80vw;
    height: 30vh;
    border: 1px solid black;
    margin: 2vh 0;
    background-color: white;
    border-radius: 10px;
}
.cards-horizontal:hover{
    box-shadow: 0.5em 0 0.5em rgba(255, 255, 255, 0.5), -0.5em 0 0.5em rgba(255, 255, 255, 0.5);
}
.cover-horizontal{
    display: flex;
    flex-direction: row;
    background-color: white;
}
.cover-horizontal h3{
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    margin-left: 0.3vw;
    margin-right: 0.3vw;
    display: flex;
    justify-content: flex-start;
    text-align: center;
}
.cover-horizontal img{
    width: 30%;
    align-self: center;
    margin-bottom: 1.5vh;
    border: 1px solid black;
}
.infoCard-vertical{
    margin: 0 1vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: 'Roboto', sans-serif;
}
.infoCard-horizontal{
    margin: 0 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.more{
    align-self: flex-end;
    margin: 2vh 2vw 2vh 0;
    text-decoration: none;
    color: rgb(0, 132, 255);
}
.more:hover{
    text-decoration: underline;
    cursor: pointer;
}
.description{
    margin: 1.5vh 0.5vw;

}
.show{
    display:block;
}
.hide{
    display: none;
}