header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0.25vw;
    color: white;
    background-color: black;
}
header img{
    height: 8vh;
}
.searchBar{
    display: flex;
    justify-content: row;
    align-items: flex-end;
    width: 30vw;
}
.searchBar form{
    margin-left: 5vw;
}
.searchBar p{
    margin-right: 2vw;
}
.searchBar i{
    margin-right: 0.5vw;
    color: rgb(0, 132, 255);
    font-size: 2.5vh;
}
.searchBar button{
    background-color: rgba(0, 0, 0, 0.897);
    border: none;
}
.searchBar button i{
    font-size: 2vh;
}
.orientation{
    width: 60%;
    display: flex;
    justify-content: flex-end;
    font-size: 1.5em;
    align-items: center;
}
.orientation i{
    margin: 5px;
    color:rgb(0, 132, 255);
    cursor: pointer;
}
.card-container-vertical{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card-container-horizontal{
    flex-direction: column;
    display: flex;
}
.cover-horizontal .title{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.noresultados{
    font-size: 30px;
    color: rgb(0, 132, 255); 
}