body{
    box-sizing: border-box;
    background-color: rgb(42, 42, 43);
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    padding: 1%;
}
.carga{
    display: flex;
    justify-content: center;
    margin: 4vh 0;
}
.spinner{
    width: 100px;
    height: 100px;
    border: solid white 15px;
    border-top-color: teal;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    text-align: center;
}
@keyframes spin {
    to{
        transform: rotate(360deg);
    }
}