body{
    box-sizing: border-box;
    background-color: rgb(42, 42, 43);
    width: 100%;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;

}