footer{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    background-color: black;
    margin-top: 4vh;
}
.team{
    display: flex;
    flex-direction: row;
    list-style: none;
    height: 50px;
    color: rgb(0, 132, 255);  
}
.team li{
    margin: 0 1vw;
    align-self: center;
}
