.buscador{
    display: flex;
    justify-content: center;
    padding: 15px;
    
}
.imput-buscador{
width: 20%;
height: 5%;
padding-top: 5px;
border-radius: 8px;
}

.button-buscador{
    border-radius: 8px;
}