.buscador{
    display: flex;
    justify-content: center;
    padding: 15px;
}
.imput-buscador{
    width: 25%;
    height: 10%;
    border-radius: 8px;
    padding: 5px;
}

.button-buscador{
    border-radius: 5px;
}